@import "../node_modules/compass-mixins/lib/_compass.scss";

* {
  @include box-sizing(border-box);
}

.word-unscramble-div {
  @include background-image(linear-gradient(left, rgb(164, 179, 87) 0%, rgb(212, 236, 214) 0%, rgb(214, 237, 216) 100%));}

.button {
  @include box-shadow(0px 10px 14px -7px #276873);
  @include background(top, #599bb3 5%, #408c99 100%);
  background-color: #599bb3;
  @include border-radius(8px);
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 0px 1px 0px #3d768a;

  &:hover {
    @include background(top, #408c99 5%, #599bb3 100%);
    background-color: #408c99;
  }

  &:active {
    position: relative;
    top: 1px;
  }

  .button-sm {
    padding: 7px 14px;
  }

  .button-lg {
    padding: 13px 32px;
  }

  .ngdialog-button {
    background-color: black;
    color: white;
  }
}

.text-center {
  text-align: center;
}

table {
  &.actions {
    margin-top: 50px;
    &:last-of-type {
      tr:last-child {
        td {
          padding-bottom: 10px;
        }
      }
    }
  }

  tr td {
    padding-top: 20px;
  }
}

.valign-center {
  vertical-align: middle;
}

.word-unscramble-full-screen {
  clear: both;
  padding: 20px 0 0 0;
  text-align: center;
  background-color: rgb(164, 179, 87); /* Old Browsers */
  @include background-image(linear-gradient(left, rgb(164, 179, 87) 0%, rgb(212, 236, 214) 0%, rgb(214, 237, 216) 100%));

  &::before, &::after {
    display: table;
  }

  .game-body {
    background-color: #E27368;
    padding: 30px 15px 30px 15px;
    margin: 20px 20px 20px 20px;
    border-radius: 20px 20px 20px 20px;
    .game-container {
      position: relative;
      ul[ng-sortable] {
        margin: auto;
        white-space: nowrap;

        li[ng-repeat] {
          position: relative;
          display: inline-block;

          &.sortable-chosen {
            &.sortable-ghost {
              opacity: .2;
              color: transparent;
            }
          }
          .sortable-item-inner {
            @include border-radius(12px 12px 12px 12px);
            @include box-shadow(3px 3px 5px 0px #71a7a2);
            margin: 2px;
            background-color: #f9edb4;
            color: black;
            //width: 55px; Edit in Directive
            padding: 5px;
            font-size: 5vw;
            line-height: 50px;
            cursor: pointer;
            span {
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}
