<!--Start Section-->
<div ng-show="!startVisible">
	<h2>Word Unscramble</h2>
	<button class="button button-full button-assertive icon ion-home"
	        ng-click="startShowHide(); instructionShowHide()"> Start
	</button>
</div>

<!--Instruction Section-->
<div ng-show="instructionVisible">
	<h2>Instructions</h2>
	<p>Reagrange the letters to form a valid word.</p>
	<br>
	<p>You may click the hint button to get the meaning of the word </p>
	<button class="button button-full button-assertive icon ion-home"
	        ng-click="gameShowHide(); instructionShowHide(); startTimer()">Start
	</button>
</div>

<!--Game Section-->
<div ng-show="gameVisible">
	<div class="word-unscramble-container">
		<div class="game-body">
			<div class="game-container" on-drag-end="onDropComplete()">
				<ul ng-sortable="{animation:150}">
					<li ng-repeat="obj in draggableObjects">
						<div class="sortable-item-inner cloud">
							<span class="word">{{ obj }}</span>
							<div class="bottom"></div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div>
		<table>
			<tr>
				<th>
					<button ng-click="hintDiaglog()" class="button button-large button-balanced icon ion-gear-a"> Hint
					</button>
				</th>
				<th>
					<button ng-click="submitDialog()" class="button button-large button-balanced">Submit</button>
				</th>
			</tr>
		</table>
	</div>
	<div>
		<table>
			<tr>
				<th>
					<h3>Score:</h3>
				</th>
				<th>
					<button ng-click="instructionShowHide (); gameShowHide()" class="button icon ion-help-circled"></button>
				</th>
				<th>
					<h3>
						Time:
					</h3>
				</th>
			</tr>
			<tr>
				<th>
			<span style="color:#d43f3a; font-size: 20px"> {{scoreMark}} </span>
				</th>
				<th> </th>
				<th>
					<span style="color:#d43f3a; font-size: 20px"> {{countDown}} </span>
				</th>
			</tr>
		</table>
		<buton ng-click="replayTimer(); replayShowHide()" class="button button-energized" ng-show="replayVisible">
			Re-Play
		</buton>
	</div>
</div>

<!--TimeOver modal-->
<script type="text/ng-template" id="timeOverId">
	<h2> {{ popupTitle }}</h2>
	<p>The word is
		<span style="color:indianred; font-size: 20px; font-weight: bold;">  {{ correctWord  }} </span>
	</p>
</script>

<!--Submit modal-->
<script type="text/ng-template" id="submitId">
	<h2> {{ submitMsg }}</h2>
	<button type="button" class="ngdialog-button ngdialog-button-primary"
	        ng-click="closeThisDialog('Click OK Button')">OK
	</button>
</script>

<!-- Hint modal-->
<script type="text/ng-template" id="hintId">
	<h3>The meaning of the word is:</h3>
	<span style="color:indianred; font-size: 20px; font-weight: bold;">  {{ hintMsg  }} </span>
	<br>
	<button type="button" class="ngdialog-button ngdialog-button-secondary"
	        ng-click="closeThisDialog('Click OK Button')">OK
	</button>
</script>
